body {
    background-color: #266284;
}

.white-text { 
    color: #ecf0f1;
}
/* Poké Styles */
.pokeball {
    position: relative;
    width: 200px;
    height: 200px;
    background: red;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    animation: rotate 1.5s linear infinite;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 40px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 40px 5px rgba(0,0,0,0.4);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
      left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pokeball::before {
    background: white;
    width: 100%;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pokeball-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }